includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
	level: max
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/autoload.php
		- vendor/symplify/easy-coding-standard/vendor/autoload.php
